  .center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }

* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background:black;
    color: white;
  }
  
  /* Style the top navigation bar */
  .navbar {
    align-items: center;
    padding: 10px;
    display: flex;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .imgformat {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    align-content: center;
  }
  
  /* Footer */
  .footer {
    padding: 5px;
    color: darkgray;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
  .flex-container {
    display: flex;
    align-items:center;
    background-color: white;
  }
  
  .flex-container > div {
    background-color: black;
    color:darkgray;
    margin: 10px;
    text-align: center;
    align-items: stretch;
    line-height: 75px;
    font-size: 50px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  div.gallery {
    border: 1px solid #ccc;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    align-content: center;
    padding: 0 6px;
    float: left;
    width: 15%;
  }

  @media only screen and (max-width: 900px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 10;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 50%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  h3 {
    text-align: center;
    color: black;
  }
  ul.b {
    list-style-type: square;
  }
  a:link {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
    text-decoration-color: lightgray;
  }